<main *ngIf="userData; else loading">
  <div class="flex justify-between">
    <div class="flex items-center ">
      <img [src]="userData.user.url_profile" class="w-28 h-28" alt="">
      <div>
        <h4 class="my-1"><span *ngIf="!isModify">{{userData.user.nom}} </span><input  *ngIf="isModify" type="text" placeholder={{userData.user.nom}}></h4>
        <div class="flex items-center gap-1"><h5 class="my-1"><span *ngIf="!isModify">{{userData.user.prenom}}</span><input  *ngIf="isModify" type="text" placeholder={{userData.user.prenom}}></h5> <span class="user-role">{{userData.user.role}}</span></div>
      </div>
    </div>
    <div class="flex items-center"><button (click)="modify()" class="btn-link flex gap-1 items-center text-sm"><i class="pi pi-user-edit"></i>Modifier</button></div>
  </div>
</main>
<ng-template #loading>
  <app-loader/>
</ng-template>
