<main>
    <nav>
        <div class="flex items-center gap-2">
            <button (click)="menuModule()" class="btn-link flex justify-center" title="Commencer"><i class="pi pi-plus"></i></button>
            <span class="token">{{ user.jetons.length > 0 ? user.jetons[0].amount : 0 }} <img src="img/coin.png" alt=""></span>
        </div>
        <div class="flex gap-3 items-center search-div">

            <div class="search-container">
                <input type="text"  placeholder="Search" />
                <i class="pi pi-search"></i>
            </div>
        </div>
        <button (click)="menuProfileResponsive() " class="profile-btn-resp"><img src="img/profile.png" alt="logo" title="profile"></button>
    </nav>
    <form [formGroup]="formExpliq" (ngSubmit)="onSubmit()" class="space-y-6">
        <div class="flex flex-col">
            <label for="context" class="mb-2 text-lg font-medium text-gray-700">Contexte :</label>
            <textarea id="context" formControlName="context" rows="4" cols="50" placeholder="Entrez le contexte ici..." class="p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"></textarea>
            <div *ngIf="formExpliq.get('context')?.invalid && formExpliq.get('context')?.touched">
                <small class="text-red-600">Le contexte est requis.</small>
            </div>
        </div>

        <div class="flex flex-col">
            <label for="question" class="mb-2 text-lg font-medium text-gray-700">Question :</label>
            <input type="text" id="question" formControlName="question" placeholder="Entrez votre question ici..." class="p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            <div *ngIf="formExpliq.get('question')?.invalid && formExpliq.get('question')?.touched">
                <small class="text-red-600">La question est requise.</small>
            </div>
        </div>

        <button type="submit" [disabled]="formExpliq.invalid" class="btn-link">Soumettre</button>
    </form>

    <div class="mt-6" *ngIf="expliq && expliq.answer">
        <p class="text-lg font-bold text-[#ffc224]">EdyIA : <span class="text-black">{{ expliq.answer }}</span></p>
    </div>
    <div *ngIf="isMenuModuleOpen" class="menu-module-container">
        <div class="menu-module">
            <div class="flex justify-between items-center w-full mb-1"><h5 class="m-0">Modules</h5><button class="close" (click)="menuModule()" title="Fermer"></button></div>
            <hr>
            <div class="module-card-container">
                <div class="module-card c1">
                    <h6>Pdf Scan</h6>
                    <div class="flex justify-between items-center px-3">
                        <a routerLink="/"><i class="pi pi-arrow-right"></i></a>
                        <img src="img/pdf.png" alt=""></div>
                </div>
                <div class="module-card c2">
                    <h6>Cours expliq</h6>
                    <div class="flex justify-between items-center px-3">
                        <a routerLink="/expliq"><i class="pi pi-arrow-right"></i></a>
                        <img src="img/cours.png" alt=""></div>
                </div>
                <div class="module-card c3">
                    <h6>Quizz</h6>
                    <div class="flex justify-between items-center px-3">
                        <a routerLink="/quiz"><i class="pi pi-arrow-right"></i></a>
                        <img src="img/quizz.png" alt=""></div>
                </div>
                <div class="module-card c4">
                    <h6>Pdf Scan</h6>
                    <div class="flex justify-between items-center px-3">
                        <a routerLink="/"><i class="pi pi-arrow-right"></i></a>
                        <img src="img/pdf.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</main>
