<div *ngIf="isMenuModuleOpen" class="menu-module-container">
    <div class="menu-module">
        <div class="flex justify-between items-center w-full mb-1"><h5 class="m-0">Modules</h5><button class="close" (click)="menuModule()" title="Fermer"></button></div>
        <hr>
        <div class="module-card-container">
            <div class="module-card c1">
                <h6>Pdf Scan</h6>
                <div class="flex justify-between items-center px-3">
                    <a routerLink="/"><i class="pi pi-arrow-right"></i></a>
                    <img src="img/pdf.png" alt=""></div>
            </div>
            <div class="module-card c2">
                <h6>Cours expliq</h6>
                <div class="flex justify-between items-center px-3">
                    <a routerLink="/expliq"><i class="pi pi-arrow-right"></i></a>
                    <img src="img/cours.png" alt=""></div>
            </div>
            <div class="module-card c3">
                <h6>Quizz</h6>
                <div class="flex justify-between items-center px-3">
                    <a routerLink="/quiz"><i class="pi pi-arrow-right"></i></a>
                    <img src="img/quizz.png" alt=""></div>
            </div>
            <div class="module-card c4">
                <h6>Pdf Scan</h6>
                <div class="flex justify-between items-center px-3">
                    <a routerLink="/"><i class="pi pi-arrow-right"></i></a>
                    <img src="img/pdf.png" alt=""></div>
            </div>
        </div>
    </div>
</div>