main {
    display: flex;
    justify-content: space-between;
    height: 100dvh;
    padding: 1rem;
    .left {
        width: 100%;
        background-image: url('/img/bg-register.jpg');
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        overflow: hidden;

        .section-content {
            display: flex;
            flex-direction: column;
            justify-content:flex-end;
            align-items: start;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.842) 0%, rgba(242,255,241,0) 100%);
            padding: 1rem;
            border-radius: 15px;
            color: #fff;
        }

    }
    .right {
        width: 90%;
        padding: 0.1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            button.btn-link{min-height: 35px;}
            .group-input{
              width: 100%;
              display: flex;
              align-items: center;
              gap: 1rem;
            }

            input{
                border-radius: 17px;
                border: 1px solid #ccc;
                padding: 0.5rem;
            }
            label{
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 768px) {
  main .left{display: none;}
  main .right{width: 100%; animation: slideIn 0.5s ease-in-out;} @keyframes slideIn {from {transform: translateX(50%);opacity: 0;}to {transform: translateX(0);opacity: 1;}}

}
@media screen and (max-width: 500px) {
  main .right form .group-input{flex-wrap: wrap; gap: 0rem;}
}

