main {
    display: flex;
    height: 100vh;

    .left {
        width: 100%;
        padding: 0 1rem;
        nav {
            display: flex;
            padding: 1rem 0;
            justify-content: space-between;

            .token{
                border-radius: 17px;
                background-color: #000;
                border: 1px solid #e0e0e0;
                font-size: 14px;
                padding: 0.2rem 0.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                gap: 0.4rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            img {
                width: auto;
                height: 40px;
            }
            .search-container {
                border-radius: 17px;
                border: 1px solid #e0e0e0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding:0.1rem 0.5rem;

                input:focus {
                    outline: none;
                }
            }
        }

        .card-onglet {
            border-radius: 17px;
            padding: 0.5rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #e0e0e08e;
        }
        .progres{
            background-color: rgb(0, 0, 0);
            padding: 0.2rem 0.5rem;
            border-radius: 17px;
            display: flex ;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
        .text-name-user{
            background: #383B1C;
            background: linear-gradient(to right, #383B1C 0%, #FFC224 59%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


        }
        .modules-container{
            display: flex;
            gap: 1rem;

            .module-card{
                width: 100%;
                border-radius: 17px;
                padding:0.2rem 0.5rem;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border: 1px solid #e0e0e0;
                transition: all 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                    border: 1px solid #ffeeba;
                }
                h6{
                    font-size: 16px;
                    background: #fff345;
                    background: linear-gradient(to right, #fff345 0%, #FFC224 64%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    padding: 0.2rem 0.5rem;
                    border-radius: 17px;
                }

                img{
                    width: 4.5rem;
                }

                a{
                    background-color: #000;
                    border-radius: 100%;
                    padding: 0 0.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    color: #ffc224;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i{
                        font-size: 0.7rem;
                    }
                }
            }
        }

    }

    .right {
        background: rgb(255,241,206);
        background: linear-gradient(135deg, rgba(255,241,206,1) 0%, rgba(242,255,241,1) 100%);
        width: 40%;
        nav {
            display: flex;
            padding: 0.5rem 1rem;
            justify-content: space-between;
            img {
                width: auto;
                height: 40px;
            }
            .icon-container {
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding:0.1rem 0.5rem;

                input:focus {
                    outline: none;
                }
            }
            .profile-menu {
                position: absolute;
                width: 300px;
                top: 50px;
                right: 10px;
                background-color: white;
                border: 1px solid #e0e0e0;
                padding: 0.5rem;
                border-radius: 15px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                animation: fadeIn 0.2s ease-in-out;

                @keyframes fadeIn {
                    0% { opacity: 0; }
                    100% { opacity: 1; }
                }



              a:hover{
                color: #fdb629;
                transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
              }
            }
        }
    }
    .btn-apercu{
        border-radius: 17px;
        border: 1px solid #e0e0e0;
        padding: 0 1rem;
        background-color: #fff;
    }
    .current{
        background-color: #ffc244;
    }
}
.menu-module-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: #0000007e;
}
.menu-module{
    padding: 0.5rem;
    width: 90%;
    height: 90%;
    border-radius: 17px;
    background-color: #fff;
    animation: fadeIn 0.5s ease-in-out;
    overflow-y: scroll;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.profile-btn-resp{display: none;}
.module-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    padding: 0.5rem;
    grid-gap: 10px;

    .module-card{
        width: 100%;
        border-radius: 17px;
        padding:0.2rem 0.5rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #e0e0e0;
        animation: fadeIn 0.5s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: scale(1.04);
            transition: all 0.3s ease-in-out;
            border: 1px solid #ffeeba;
        }
        img{
            width: 50px;
        }
    }


}



@media screen and (max-width: 768px) {
    .right{display: none;}
    .profile-btn-resp{display: block;}



}

@media screen and (max-width: 630px) {
    main .left .modules-container{  display: grid;grid-template-columns: repeat(2, 1fr);grid-template-rows: repeat(2, auto);}
    .module-card-container{grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}

}

@media screen and (max-width: 530px) {
    .search-div{display: none;}
    .module-card-container{grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));}
}

@media screen and (max-width: 480px) {}
